.footer{
    margin-top: 390px;
    background: black;
    height: 498px;
    color: white;
    display: grid;
}
.footer-links{
    display: flex;
    justify-content: space-evenly;
}

.links >*{
    margin-top: 30px;
}

.linksa a {
    display: block !important;
    margin-bottom: 5px;
}
.links a{
    display: block;
    color: white;
    text-decoration: none;
}
.hr hr{
    border-bottom:none;
    border-right:none;
    border-left: none;
    margin-left: 22%;
    margin-right: 20%;
    display: grid;
}

.copyright-social-medial-logo {
    display: flex;
    justify-content: space-between;
    margin-left: 22%;
    margin-right: 20%;
}
.copyright-social-medial-logo img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

@media screen  and (max-width:1350px){
    .hr hr{
        margin-left: 10%;
        margin-right: 10%;
    }   
}

@media screen  and (max-width:850px){
    .hr hr{
        margin-left: 10%;
        margin-right: 20%;
    }
    .footer {
        height: 750px;
    }
    .footer-links{
        display: grid;
        grid-template-columns: auto auto;
    } 
}
@media screen  and (max-width:500px){
    .hr hr{
        margin-left: 10%;
        margin-right: 20%;
    }
    .footer {
        height: 1300px;
    }
    .footer-links{
        display: grid;
        grid-template-columns:auto;
    }
    
    .copyright-social-medial-logo{
        margin-top: -70px;
        margin-left: 10%;
        margin-right: 20%;
    }
}
.links a:hover{
    text-decoration:underline;
}
.footer-Creator a:hover{
    text-decoration:underline;
}
.footer-info a:hover{
    text-decoration:underline;
}
.footer-contact a:hover{
    text-decoration:underline;
}